/* Reset browser style */
*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5; /* Grey corporate */
    font-family: Nunito, Arial, Verdana, "Trebuchet MS", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 200px 50px;
}

.main_font {
    font-family: Nunito, Arial, Verdana, "Trebuchet MS", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.container {
    max-width: 780px;
    height: 340px;
    padding: 40px;
    background-color: #ffffff;
    margin: 0 auto;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}


.order-number {
    color: #73798c;
    font-weight: 400;
    margin-bottom: 5px;
}

.order-status {
    display: flex;
    justify-content: space-between;
    border-bottom: #e2e2e9 4px solid;
    padding-bottom: 31px;
    margin-bottom: 13px;
}

.order-status__text,
.order-status__time-left {
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}


.button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.btn-cancel,
.btn-back {
    border-radius: 1000px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.btn-cancel {
    padding: 13px 27px;
    background-color: #fff0e6;
    color: #d15700;
}

.btn-back {
    padding: 13px 20px;
    background-color: #f96900;
    color: #ffffff;
}

.btn-cancel:hover {
    background-color: #ffd2b3;
}

.btn-back:hover {
    background-color: #ffa15e;
}


.btn-cancel:active {
    background-color: #fff0e6;
    color: #c57a48;
}

.btn-back:active {
    background-color: #f96900;
    color: #ecc2aa;
}

@media (max-width: 600px) {
    .container {
        min-height: 377px;
        height: 100%;
        padding: 16px;
    }

    .order-number {
        font-size: 12px;
        line-height: 14px;
    }

    .order-status {
        border: none;
        margin-bottom: 12px;
        padding: 0;
    }

    .order-status__text {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
    }

    .order-status__time-left {
        display: none;
    }

    .order-address {
        display: flex;
        flex-direction: column;
        background: #f3f3f7;
        border-radius: 10px;
        padding: 18px 60px 18px 20px;
        margin-bottom: 30px;
    }

    .order-address__mobile {
        font-weight: 400;
    }

    .button-wrapper {
        flex-direction: column;
        gap: 10px;
        align-self: flex-end;
        min-width: 100%;
        width: 100%;
    }
}
